@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500&display=swap');


@import './styles/variables.scss';

.tab-one-bg{
  background-color: $tabs;
  transition: 1s all;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Jost', sans-serif;

.app-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
  .hero-container{
    display: flex;
    flex: .5;
    

    .logo-container{
      @include flexCenter;
      flex: .5;
      
      
      .logo{
        width: 60%;
        
       

      }
    }

    .info-container{
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 2;

      margin-top: 1.5rem;
      font-family: 'Jost';
      color: white;

      .info-h1{
        font-size: 4em;
        font-weight: 400;
        line-height: 1em;
        
      }
      .info-p{
        
        font-weight: 100;
        margin-bottom: 1rem;
        

      }
      .info-select{
        flex-direction: column;
        font-size: 1rem;
        display: flex;
        align-items: flex-start;
        
        .info-q1{
          @include flexCenter;
          
          
        }
        .info-h3{
          font-weight: 100;
          font-size: 2rem;

        }
        .select{
          margin-left: .5rem;
          font-weight: 100;
          font-size: 2rem;
          font-family: 'Jost';
          background-color: rgb(10, 10, 10) ;
          color: white;
          padding: .3rem;
          border: none;
          border-radius: .3rem;
        }
      }
    }

    .year-container{
      @include flexCenter;
      
      
      width: 10rem;
      
      flex: 1;
      padding: 2rem;
      font-size: 3rem;
      font-family: 'Jost';
      color: #FAB017;
      
    }

  }

    
    .tab-container{
      display: flex;
      background-color: black;
      flex: 1;
      flex-direction: column;
      font-size: 1.5rem;
      font-family: 'Jost';
      color: rgb(185, 185, 185);
      
      .bloc-tabs {
        display: flex;
      }
      .tabs {
        font-family: 'Jost';
        color: white;
        padding: 15px;
        font-size: 1.2rem;
        font-weight: 300;
        justify-content: center;
        align-items: center;
        flex: 1;
        display: flex;
        background: rgb(24, 24, 24);
        cursor: pointer;
        height: 2.5rem;
        
        
       
      }
   
      .active-tabs  {
        transition: .1s all ease-out;
        background: rgb(10, 10, 10);
        
        
       
       
      }
   
      button {
        border: none;
      }
      
      .content-tabs {
        flex-grow : 1;
        background: rgb(10, 10, 10);
      }
      .content {
        display: flex;
        flex-direction: column;
        background: rgb(10, 10, 10);
        
        
        display: none;
        .content-p{
          font-size: 1rem;
          font-weight: 100;
        }
      }
     
      .active-content {
        padding: 4rem;
        display: flex;
        height: 100%;
        width: 50%;
        margin: 0 auto;
        

      }
      


    }
  
} 
