@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;500&display=swap');


@import './styles/variables.scss';

.tab-one-bg{
  background-color: $tab-One;
  transition: 1s all;
}

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Jost', sans-serif;

.app-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  
  .hero-container{
    display: flex;
    flex: .5;
    

    .logo-container{
      @include flexCenter;
      flex: .5;
      
      
      .logo{
        width: 60%;
        
       

      }
    }

    .info-container{
      margin: 2rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      flex: 2;

      margin-top: 1.5rem;
      font-family: 'Jost';
      color: white;

      .info-h1{
        font-size: 4em;
        font-weight: 400;
        
      }
      .info-p{
        
        font-weight: 400;
        margin-bottom: 1rem;
        

      }
      .info-select{
        font-size: 1rem;
        display: flex;
        align-items: center;
        .select{
          margin-left: .5rem;
          font-size: 1.5rem;
          font-family: 'Jost';
          background-color: rgb(10, 10, 10) ;
          color: white;
          padding: .4rem;
          border: none;
          border-radius: .3rem;
        }
      }
    }

    .year-container{
      @include flexCenter;
      flex: 1;
      font-size: 3rem;
      font-family: 'Jost';
      color: #FAB017;
      
    }

  }
  .chart-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .tab-container{
      display: flex;
      background-color: black;
      flex: .1;
      font-size: 1.5rem;
      font-family: 'Jost';
      color: white;

      .tab1{
        flex: 1;
        @include flexCenter;
        cursor: pointer;
      }
      .tab2{
        flex: 1;
        @include flexCenter;
        cursor: pointer;
      }
      .tab3{
        flex: 1;
        @include flexCenter;
        cursor: pointer;
      }
      .tab4{
        flex: 1;
        @include flexCenter;
        cursor: pointer;
      }


      .tab1-active{
        flex: 3;
        @include flexCenter;
      }
      .tab2-active{
        flex: 3;
        @include flexCenter;
      }

    }
  }
} 
.green{
  background-color: #FAB017;
}