@import './styles/variables.scss';



body {
  background-color: $main-bg;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(10, 10, 10);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(66, 66, 66); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(27, 27, 27); 
}